.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #6366F1;
    color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;

    .logo h1 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .actions button {
        background-color: #d9534f;
        border: none;

        &:hover {
            background-color: #c9302c;
        }
    }
}